{% extends "base.html" %}

{% block title %}Calendar{% endblock %}

{% block content %}
    <h2>Calendar</h2>
    <div id="calendar-view">
        <iframe src="https://calendar.google.com/calendar/embed?height=670&wkst=1&ctz=America%2FNew_York&showPrint=0&src=Y181NmUwNmZjMTZlYmY5NjUzNTcwZTlmMjAzZGE0ZDU3MDc4OGIzN2FmMzRjZDBiYWU1MDJkMDU5YTQ3N2VkYWMyQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23ad1457" 
            style="border:solid 1px #777" width="1000" height="670" frameborder="0" scrolling="no"></iframe>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/static/js/calendar.js"></script>
{% endblock %}
