{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="circuit-bg-page circuit-bg-page--with-nav">
    <canvas id="circuit-canvas" class="circuit-bg-canvas" aria-hidden="true"></canvas>
    <div class="circuit-bg-content">
    <section class="home-marquee" aria-label="Featured team members">
        <div class="home-marquee__window">
            <div class="home-marquee__track">
                <span class="home-marquee__item">Brady Adams</span>
                <span class="home-marquee__item">Alex Habarth</span>
                <span class="home-marquee__item">Grant Patterson</span>
                <span class="home-marquee__item">Gloria Chang</span>
                <span class="home-marquee__item">Jay Sarkar</span>
                <span class="home-marquee__item">Connor Welch</span>
                <span class="home-marquee__item">Sean Kang</span>
                <span class="home-marquee__item">Lynn Van</span>
                <span class="home-marquee__item">Sahasra Potla</span>
                <span class="home-marquee__item">Brie Everson</span>
                <span class="home-marquee__item">Lucia Grasso</span>
                <span class="home-marquee__item">Sanika Vamali</span>
                <span class="home-marquee__item">Akshaya Rachamadugu</span>
                <span class="home-marquee__item">Thewfic Anwar</span>
                <span class="home-marquee__item">Yoav Manor</span>
                <span class="home-marquee__item">Garrett Cheng</span>
                <span class="home-marquee__item">Ellie Gruber</span>
                <span class="home-marquee__item">Jase Smith</span>
                <span class="home-marquee__item">Avary Sheldon</span>
                <span class="home-marquee__item">Owen Bogda</span>
                <span class="home-marquee__item">Zaara Seemeen</span>
                <span class="home-marquee__item">Derek Wurzer</span>
                <span class="home-marquee__item">Aiden Kim</span>
                <span class="home-marquee__item">Brady Adams</span>
                <span class="home-marquee__item">Alex Habarth</span>
                <span class="home-marquee__item">Grant Patterson</span>
                <span class="home-marquee__item">Gloria Chang</span>
                <span class="home-marquee__item">Jay Sarkar</span>
                <span class="home-marquee__item">Connor Welch</span>
                <span class="home-marquee__item">Sean Kang</span>
                <span class="home-marquee__item">Lynn Van</span>
                <span class="home-marquee__item">Sahasra Potla</span>
                <span class="home-marquee__item">Brie Everson</span>
                <span class="home-marquee__item">Lucia Grasso</span>
                <span class="home-marquee__item">Sanika Vamali</span>
                <span class="home-marquee__item">Akshaya Rachamadugu</span>
                <span class="home-marquee__item">Thewfic Anwar</span>
                <span class="home-marquee__item">Yoav Manor</span>
                <span class="home-marquee__item">Garrett Cheng</span>
                <span class="home-marquee__item">Ellie Gruber</span>
                <span class="home-marquee__item">Jase Smith</span>
                <span class="home-marquee__item">Avary Sheldon</span>
                <span class="home-marquee__item">Owen Bogda</span>
                <span class="home-marquee__item">Zaara Seemeen</span>
                <span class="home-marquee__item">Derek Wurzer</span>
                <span class="home-marquee__item">Aiden Kim</span>
            </div>
        </div>
    </section>
    <section class="home-heading">
        <h1 class="home-title">TEK Pledge Tracker</h1>
    </section>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script src="/static/js/circuit-background.js"></script>
{% endblock %}
